# Created by .ignore support plugin (hsz.mobi)
.idea
.vscode
__pycache__/
logs
celerybeat-schedule.db
celerybeat.pid
celerybeat-schedule
dump.rdb
.env
config/spider.yaml
*.pyc
.cache/
*/.cache/
nohup.out
node_tasks/sql/
node_task_new_distributed_version/*